* {
    font-family:'Segoe UI', Tahoma, Verdana, sans-serif;
    margin: 0;
    font-size: 28px;
}

.hero, .bio, .country {
    display: flex;
}

.hero {
    justify-content: center;
    gap: 50px;
    padding-top: 50px;
}

.bio {
    flex-direction: column;
    gap: 14px;
}

a {
    text-decoration: none;
    color: black;
    font-style: italic;
}

a:hover {
    color: blue;
}

img {
    border: solid 1px black;
}

#flag {
    height: 40px;
    margin: 0 20px;
}